rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() { return request.auth != null; }
    function userRole() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roleDisplay;
    }

    match /users/{uid} {
      allow read: if signedIn() && request.auth.uid == uid;
    }

    match /trips/{id} {
      allow read: if signedIn();
      allow create: if signedIn();

      // TANPA pembatasan field; hanya role yg dibatasi
      allow update: if signedIn() && (userRole() in ['admin', 'pic', 'accessor']);

      allow delete: if false;
    }
  }
}